<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="description" content="We Connect Makers With Sellers">
    <meta name="format-detection" content="telephone=no,email=no,address=no">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="AndMakers"/>
    <meta property="og:site_name" content="AndMakers"/>
    <meta property="og:description" content="We Connect Makers With Sellers"/>
    <meta property="og:url" content="https://andmakers.co/"/>
    <meta property="og:image" content="https://andmakers.co/images/opengraph.jpg"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="315"/>

    <title>AndMakers</title>

    <!-- Style -->
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/plugins/bootstrap-5.0.0/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/plugins/intlTelInput.min.css"/>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Icon Font -->
    <link rel="stylesheet" href="images/font/icomoon/style.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <main id="main">
        <nav id="nav" class="nav-header">
            <div id="js-pc-nav" class="pc-nav-wrap">
                <a href="#main" class="logo-wrap">
                    <img src="./images/nav_logo.svg" alt="logo">
                </a>
                <ul class="menu-wrap">
                    <li class="menu-item"><a href="#mission" data-id="mission">Our Mission</a></li>
                    <li class="menu-item"><a href="#categories" data-id="categories">Categories</a></li>
                    <li class="menu-item"><a href="#feedback" data-id="feedback">Customer Feedback</a></li>
                    <li class="menu-item"><a href="#contact" class="button button-small">Contact Us</a></li>
                </ul>
            </div>
            <div class="mobile-nav-wrap">
                <div class="header-wrap">
                    <a href="#main" class="logo-wrap">
                        <img src="./images/nav_logo.svg" alt="logo">
                    </a>
                    <div class="menu-btn" id="js-mobile-ctr-btn"><span></span><span></span><span></span></div>
                </div>
                <div id="js-mobile-menu" class="menu-wrap">
                    <ul>
                        <li class="menu-item"><a href="#mission">Our Mission</a></li>
                        <li class="menu-item"><a href="#categories">Categories</a></li>
                        <li class="menu-item"><a href="#feedback">Customer Feedback</a></li>
                        <li class="menu-item"><a href="#contact">Contact Us</a></li>
                    </ul>
                    <a href="#contact" class="button button-full">Contact Us</a>
                </div>
            </div>
        </nav>

        <section id="hero">
            <div class="info-wrap">
                <h1>Discover a World of <br>Best Sellers</h1>

                <ul>
                    <li><span>Exclusive partnerships with overseas suppliers</span></li>
                    <li><span>High margins from direct supplier relationships</span></li>
                    <li><span>Bay Area-based, 24hr. drop-shipping</span></li>
                    <li><span>Integrated EDI/API/XLS for real-time inventory</span></li>
                    <li><span>Dedicated team for retail partnerships</span></li>
                </ul>
                <a href="#contact" class="button button-medium">Contact Us</a>
            </div>
    
            <div class="slider-show-wrap">
                <div id="carouselHero" class="hero-carousel carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <template v-for="hero in heros">
                            <div class="carousel-item" v-bind:class="{ active: hero.active }" data-bs-interval="3000">
                                <a href="#categories" class="carousel-image-warp" v-on:click="switchCategory(hero.code_name)">
                                    <img v-bind:src="'./images/' + hero.path + hero.lifestyle" v-bind:alt="hero.brand" draggable="false">
                                </a>

                                <div class="carousel-info-warp">
                                    <div class="info-icon-wrap">
                                        <i v-bind:class="hero.icon"></i>
                                    </div>
                                    <p>{{ hero.brand }}, {{ hero.caption }}</p>
                                </div>
                            </div>
                        </template>
                    </div>

                    <!-- pc control -->
                    <div class="carousel-indicators">
                        <template v-for="(hero, index) in heros">
                            <button type="button" data-bs-target="#carouselHero" v-bind:data-bs-slide-to="index" v-bind:class="{ active: hero.active }" aria-current="true" v-bind:aria-label="'Slide ' + hero.order">
                                <img v-bind:src="'./images/' + hero.path + hero.thumbnail" v-bind:alt="hero.brand" draggable="false">
                            </button>
                        </template>
                    </div>

                    <!-- mobile control -->
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselHero" data-bs-slide="next">
                        <i class="icon-next-round"></i>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <section id="mission" class="full-page">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-12">
                        <h2>Our Mission</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-8 offset-xl-2">
                        <!-- youtube -->
                        <div class="video-wrap">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/CRpv6hwHP6s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="categories" class="full-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="categories-wrap">
                            <h2>Product Categories</h2>

                            <ul class="categories-nav nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <template v-for="category in categories">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" v-bind:class="{ active: category.active }" v-bind:id="'pills-' + category.code_name + '-tab'" data-bs-toggle="pill" v-bind:data-bs-target="'#pills-' + category.code_name" type="button" role="tab" v-bind:aria-controls="'pills-' + category.code_name" aria-selected="true">{{ category.category }}</button>
                                    </li>
                                </template>
                            </ul>

                            <div class="categories-tab-wrap tab-content" id="pills-tabContent">
                                <template v-for="(category, category_index) in categories">
                                    <div class="tab-pane fade" v-bind:class="{ active: category.active, show: category.active }" v-bind:id="'pills-' + category.code_name" role="tabpanel" v-bind:aria-labelledby="'pills-' + category.code_name + '-tab'">
                                        <div v-bind:class="'product-grid-wrap tab-' + category.code_name">
                                            <template v-for="(product, product_index) in category.products">
                                                <div v-bind:class="'product-grid-item bg-' + product.bg_color" data-bs-toggle="modal" data-bs-target="#categoryModal" v-on:click="switchProduct(category_index ,product_index)">
                                                    <div class="product-image-wrap">
                                                        <img v-bind:src="'./images/' + product.path + product.thumbnail" v-bind:alt="product.product_name">
                                                    </div>
                                                    <div class="product-info-wrap">
                                                        <h4 class="product-title">{{ product.brand }}</h4>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal - category card -->
            <div class="category-modal modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <button type="button" class="close modal-close-btn" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <!-- mobile only -->
                        <div class="modal-header">
                            <p>{{ categories[current_category_index].products[current_product_index].brand }}</p>
                        </div>

                        <div class="modal-left wide-wrap">
                            <div id="carouselProducts" class="product-carousel carousel slide carousel-fade" data-bs-ride="carousel">

                                <div class="carousel-inner">
                                    <template v-for="(lifestyle, index) in categories[current_category_index].products[current_product_index].lifestyles">
                                        <div class="carousel-item" data-bs-interval="3000">
                                            <div class="carousel-image-warp">
                                                <img v-bind:src="'./images/' + categories[current_category_index].products[current_product_index].path + lifestyle" v-bind:alt="categories[current_category_index].products[current_product_index].product_name" draggable="false">
                                            </div>
                                        </div>
                                    </template>
                                </div>

                                <!-- pc & mobile use -->
                                <div class="carousel-indicators">
                                    <template v-for="(lifestyle, index) in categories[current_category_index].products[current_product_index].lifestyles">
                                        <button type="button" data-bs-target="#carouselProducts" v-bind:data-bs-slide-to="index" aria-current="true" v-bind:aria-label="'Slide ' + (index + 1)"></button>
                                    </template>
                                </div>

                                <!-- pc use -->
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselProducts" data-bs-slide="prev">
                                    <i class="icon-prev-round"></i>
                                    <span class="visually-hidden">Previous</span>
                                </button>

                                <button class="carousel-control-next" type="button" data-bs-target="#carouselProducts" data-bs-slide="next">
                                    <i class="icon-next-round"></i>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>

                        <div class="modal-right narrow-wrap">
                            <div class="modal-right-body">
                                <div class="product-info">
                                    <h4 class="product-info-category">{{ categories[current_category_index].category }}</h4>
                                    <h3 class="product-info-name">{{ categories[current_category_index].products[current_product_index].product_name }}</h3>
                                </div>
                                <div class="product-table">
                                    <p class="product-table-title">Specifications</p>
                                    <table class="product-table-detail">
                                        <tr>
                                            <th>Brand</th>
                                            <td>{{ categories[current_category_index].products[current_product_index].brand }}</td>
                                        </tr>
                                        <tr>
                                            <th>Color</th>
                                            <td>{{ categories[current_category_index].products[current_product_index].color }}</td>
                                        </tr>
                                        <tr>
                                            <th>SKU</th>
                                            <td>{{ categories[current_category_index].products[current_product_index].sku }}</td>
                                        </tr>
                                        <tr>
                                            <th>Dimensions</th>
                                            <td>{{ categories[current_category_index].products[current_product_index].dimensions }}</td>
                                        </tr>
                                        <tr>
                                            <th>MAP</th>
                                            <td>{{ categories[current_category_index].products[current_product_index].map }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="feedback" class="full-page">
            <div class="container">
                <div class="row">                
                    <div class="col-xl-3 col-12">
                        <div class="feedback-wrap">
                            <h2>High-Quality,<br>
                            Top-Selling Products</h2>
                        </div>
                    </div>
                    <div class="col-xl-9 col-12">
                        <div class="reviews-wrap">
                            <!-- row-reverse -->
                            <template v-for="(review, index) in reviews">
                                <div class="reviews-card" data-bs-toggle="modal" data-bs-target="#reviewsModal" v-on:click="switchProduct(index)">
                                    <div class="reviews-card-image-wrap">
                                        <img v-bind:src="'./images/' + review.path + review.thumbnail" v-bind:alt="review.brand_name">
                                    </div>
                                    <div class="reviews-card-body-wrap">
                                        <p class="reviews-card-title">{{ review.brand_name }}</p>
                                        <p class="reviews-card-stars">★★★★★</p>
                                    </div>
                                    <div class="reviews-card-footer-wrap">
                                        <span>See More Reviews</span>
                                        <i class="icon-more"></i>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal - reviews card -->
            <div class="reviews-modal modal fade" id="reviewsModal" tabindex="-1" aria-labelledby="reviewsModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <button type="button" class="close modal-close-btn" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <div class="modal-header">
                            <p>{{ reviews[current_index].brand_name }}</p>
                        </div>

                        <div class="modal-left narrow-wrap">
                            <div class="modal-left-image-wrap">
                                <img v-bind:src="'./images/' + reviews[current_index].path + reviews[current_index].lifestyle" v-bind:alt="reviews[current_index].brand_name">
                            </div>
                        </div>

                        <div class="modal-right wide-wrap">
                            <div class="modal-right-body">
                                <ul class="reviews-list-wrap">
                                    <template v-for="comment in reviews[current_index].comments">
                                        <li class="reviews-item">
                                            <div class="review-wrap">
                                                <p class="review-stars">★★★★★</p>
                                                <p class="review-author">{{ comment.author }}</p>
                                                <p class="review-comment">{{ comment.review }}</p>
                                            </div>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="contact" class="full-page">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-8 offset-xl-2">
                        <div class="contact-wrap">
                            <h2>Contact Us to Request Pricing</h2>
                            <form class="contact-form">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 col-xl-6">
                                            <div class="form-row">
                                                <div class="form-group col-xl-6 col-6">
                                                    <label for="inputFirstName">Your Name*</label>
                                                    <input type="name" class="form-control" id="inputFirstName" placeholder="First Name" required="required">
                                                </div>
                                                <div class="form-group col-xl-6 col-6">
                                                    <label for="inputLastName"></label>
                                                    <input type="name" class="form-control" id="inputLastName" placeholder="Last Name" required="required">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputEmail">Email*</label>
                                                <input type="email" class="form-control" id="inputEmail" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="phone">Phone #*</label>
                                                <input type="tel" id="phone" required="required">
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-6">
                                            <div class="form-group">
                                                <label for="inputCompany">Company Name*</label>
                                                <input type="text" class="form-control" id="inputCompany" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputWebsite">Website URL*</label>
                                                <input type="url" class="form-control" id="inputWebsite" required="required">
                                            </div>

                                            <div class="form-group">
                                                <label for="inputCategories">Which categories are you insterested in?*</label>
                                                
                                                <!-- mobile use -->
                                                <div class="categories-list">
                                                    <ul class="categories-checkbox-wrap">
                                                        <li class="categories-checkbox-item">
                                                            <input type="checkbox" id="furniture" value="Furniture">
                                                            <label for="furniture">Furniture</label>
                                                        </li>
                                                        <li class="categories-checkbox-item">
                                                            <input type="checkbox" id="outdoor" value="Outdoor">
                                                            <label for="outdoor">Outdoor</label>
                                                        </li>
                                                        <li class="categories-checkbox-item">
                                                            <input type="checkbox" id="home_decor" value="Home Decor">
                                                            <label for="home_decor">Home Decor</label>
                                                        </li>
                                                        <li class="categories-checkbox-item">
                                                            <input type="checkbox" id="pets" value="Pets">
                                                            <label for="pets">Pets</label>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <!-- pc use -->
                                                <div class="accordion categories-accordion" id="accordionExample">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingOne">
                                                            <button id="js-checkbox-title" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Select</button>
                                                        </h2>
                                                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <ul id="js-checkbox-content" class="categories-checkbox-wrap">
                                                                    <li class="categories-checkbox-item">
                                                                        <label for="accordion_furniture">
                                                                            <input type="checkbox" id="accordion_furniture" value="Furniture">
                                                                            <span>Furniture</span>
                                                                        </label>
                                                                    </li>
                                                                    <li class="categories-checkbox-item">
                                                                        <label for="accordion_outdoor">
                                                                            <input type="checkbox" id="accordion_outdoor" value="Outdoor">
                                                                            <span>Outdoor</span>
                                                                        </label>
                                                                    </li>
                                                                    <li class="categories-checkbox-item">
                                                                        <label for="accordion_home_decor">
                                                                            <input type="checkbox" id="accordion_home_decor" value="Home Decor">
                                                                            <span>Home Decor</span>
                                                                        </label>
                                                                    </li>
                                                                    <li class="categories-checkbox-item">
                                                                        <label for="accordion_pets">
                                                                            <input type="checkbox" id="accordion_pets" value="Pets">
                                                                            <span>Pets</span>
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-xl-12">
                                            <div class="form-group checkbox-wrap">
                                                <input type="checkbox" id="private" name="private" value="true">
                                                <label for="private">Have you read and agreed to our <a href="https://andmakers.co/Privacy" target="__blank">Privacy Policy</a>?</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Button trigger modal -->
                                <!-- <button id="js-submit-btn" type="button" data-bs-toggle="modal" data-bs-target="#submitModal">Submit</button> -->

                                <button id="js-submit-btn" type="button">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <footer class="footer">
            <p>© 2021 AndMakers.co</p>
        </footer>

    </main>

    <!-- Modal - form submit -->
    <div class="submit-modal modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="close modal-close-btn" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                
                <div class="modal-left wide-wrap"></div>
                <div class="modal-right narrow-wrap"></div>
            </div>
        </div>
    </div>


    <!-- Plugins -->
    <script src="js/plugins/jquery-3.3.1.min.js"></script>
    <script src="js/plugins/bootstrap-5.0.0/bootstrap.min.js"></script>
    <script src="js/plugins/countrypicker.min.js"></script>
    <script src="js/plugins/intlTelInput.js"></script>
    <script src="js/plugins/vue.min.js"></script>

    <!-- Custom js -->
    <script src="js/main.js"></script>
</body>
</html>