// Variable
@import 'variable';

// Override Bootstrap
@import 'mixin';


// not found
.not-found-section {
    padding-top: 200px;
    background-image: linear-gradient(to bottom, rgba($color-light-gray, 0.5), $color-white);

    @media screen and (max-width: 1199.98px) {
        padding-top: 130px;
    }

    .not-found-wrap {
        display: flex;
        align-items: center;
        justify-content: center;

        .cta-btn {
            margin-top: 30px;
        }
    }
}