<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>WHEE! 下來玩</title>

    <!-- Style -->
    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/plugins/bootstrap.min.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../font/icomoon/style.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <!-- Button -->
    <section class="template-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="template-inner">
                        <div class="title-wrap">
                            <h2>主標題</h2>
                            <h3 class="font-orange">副標題</h3>
                        </div>
            
                        <div class="btns-wrap">
                            <a href="#" class="button button-yellow">Button</a>
                            <a href="#" class="button button-yellow-cover">Button</a>
                        </div>

                        <div class="btns-wrap">
                            <a href="#" class="button button-blue">Button</a>
                            <a href="#" class="button button-blue-cover">Button</a>
                        </div>

                        <div class="btns-wrap">
                            <a href="#" class="button button-green">Button</a>
                            <a href="#" class="button button-green-cover">Button</a>
                        </div>

                        <div class="btns-wrap">
                            <a href="#" class="button button-pink">Button</a>
                            <a href="#" class="button button-pink-cover">Button</a>
                        </div>

                        <div class="btns-wrap">
                            <a href="#" class="button button-orange button-booking-size">Button</a>
                            <a href="#" class="button button-orange-cover button-booking-size">Button</a>
                        </div>

                        <div class="btns-wrap">
                            <a href="#" class="button button-normal button-booking-size">Button</a>
                            <a href="#" class="button button-yellow-cover button-booking-size">Button</a>
                        </div>

                        <div class="btns-wrap">
                            <a href="#" class="button button-booking-active">Button</a>
                            <a href="#" class="button button-booking-disabled">Button</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Plugins -->
    <script src="../js/plugins/jquery-3.5.1.min.js"></script>
    <script src="../js/plugins/popper.min.js"></script>
    <script src="../js/plugins/bootstrap.min.js"></script>
</body>
</html>