<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>WHEE! 下來玩</title>

    <!-- Style -->
    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/plugins/bootstrap.min.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../font/icomoon/style.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <!-- Template C-1 -->
    <section class="template-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="template-inner">
                        <div class="title-wrap">
                            <h2 class="font-b">主標題</h2>
                            <h3 class="font-b">副標題</h3>
                        </div>
            
                        <div class="c-content-wrap">
                            <div class="content-inner--image">
                                <div class="imgs-wrap">
                                    <div class="img-inner">
                                        <img src="../images/minigolf/booking_01.png" alt="">
                                    </div>
                                </div>
                    
                                <div class="content-body">
                                    <div class="text-wrap text-left">
                                        <h3 class="font-b">卡片標題</h3>
                                        <p class="font-m">
                                            卡片副標題<br/>
                                            需要再補一段讓他兩行
                                        </p>
                                        <ul>
                                            <li>購票說明一</li>
                                            <li>購票說明二</li>
                                            <li>購票說明三</li>
                                        </ul>
                                    </div>
                                    <div class="btn-wrap">
                                        <a href="#" class="button button-orange-cover button-booking-size">Button</a>
                                    </div>
                                </div>
                            </div>

                            <div class="content-inner--image">
                                <div class="imgs-wrap">
                                    <div class="img-inner">
                                        <img src="../images/minigolf/booking_01.png" alt="">
                                    </div>
                                </div>
                    
                                <div class="content-body">
                                    <div class="text-wrap text-left">
                                        <h3 class="font-b">卡片標題</h3>
                                        <p class="font-m">
                                            卡片副標題<br/>
                                            需要再補一段讓他兩行
                                        </p>
                                        <ul>
                                            <li>購票說明一</li>
                                            <li>購票說明二</li>
                                            <li>購票說明三</li>
                                        </ul>
                                    </div>
                                    <div class="btn-wrap">
                                        <a href="#" class="button button-orange-cover button-booking-size">Button</a>
                                    </div>
                                </div>
                            </div>

                            <div class="content-inner--image">
                                <div class="imgs-wrap">
                                    <div class="img-inner">
                                        <img src="../images/minigolf/booking_01.png" alt="">
                                    </div>
                                </div>
                                <div class="content-body">
                                    <div class="text-wrap text-left">
                                        <h3 class="font-b">卡片標題</h3>
                                        <p class="font-m">
                                            卡片副標題<br/>
                                            需要再補一段讓他兩行
                                        </p>
                                        <ul>
                                            <li>購票說明一</li>
                                            <li>購票說明二</li>
                                            <li>購票說明三</li>
                                            <li>購票說明四</li>
                                        </ul>
                                    </div>
                                    <div class="btn-wrap">
                                        <a href="#" class="button button-orange-cover button-booking-size">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="btns-wrap">
                            <a href="#" class="button button-blue button-booking-size">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Plugins -->
    <script src="../js/plugins/jquery-3.5.1.min.js"></script>
    <script src="../js/plugins/popper.min.js"></script>
    <script src="../js/plugins/bootstrap.min.js"></script>
</body>
</html>