<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>WHEE! 下來玩</title>

    <!-- Style -->
    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/plugins/bootstrap.min.css"/>

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../css/plugins/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/plugins/owl.theme.default.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../font/icomoon/style.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body style="background-color: darkolivegreen">
    
    <!-- Template B-1 -->
    <section class="template-wrap slideshow-style">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2">
                    <div class="template-inner">
                        <div class="title-wrap">
                            <h2>主標題</h2>
                            <h3>副標題</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-content-wrap">
            <div class="content-inner--slideshow-cover">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <figure class="card-cover card-bg-1">
                            <h4 class="font-b">
                                1描述描述描述描述描述描述描述描述描述描述<br/>
                                描述描述描述描述描述描描述描述描述描描述描述描述描述描述描描述描述描述描
                            </h4>
                            <figcaption class="font-b">
                                包廂空間文字小標
                            </figcaption>
                        </figure>
                    </div>
                    <div class="item">
                        <figure class="card-cover card-bg-2">
                            <h4 class="font-b">
                                2描述描述描述描述描述描述描述描述描述描述
                            </h4>
                            <figcaption class="font-b">
                                包廂空間文字小標
                            </figcaption>
                        </figure>
                    </div>
                    <div class="item">
                        <figure class="card-cover card-bg-3">
                            <h4 class="font-b">
                                3描述描述描述描述描述描述描述描述描述描述<br/>
                                描述描述描述描述描述描描述描述描述描
                            </h4>
                            <figcaption class="font-b">
                                包廂空間文字小標
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="custom-owl-nav">
                    <button class="custom-owl-prev">
                        <i class="icon-arrow-left"></i>
                    </button>
                    <button class="custom-owl-next">
                        <i class="icon-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- Plugins -->
    <script src="../js/plugins/jquery-3.5.1.min.js"></script>
    <script src="../js/plugins/popper.min.js"></script>
    <script src="../js/plugins/bootstrap.min.js"></script>

    <!-- Owl Carousel -->
    <script src="../js/plugins/owl.carousel.min.js"></script>

    <!-- Custom Js -->
    <script src="../js/template-b-1.js"></script>
</body>
</html>