<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>WHEE! 下來玩</title>

    <!-- Style -->
    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/plugins/bootstrap.min.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../font/icomoon/style.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <!-- Template C-2 -->
    <section class="template-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="template-inner">
                        <div class="title-wrap">
                            <h2 class="font-b">主標題</h2>
                            <h3 class="font-b">副標題</h3>
                        </div>

                        <div class="desc-wrap">
                            <p class="font-b">一段說明的文字</p>
                        </div>
            
                        <div class="c-content-wrap">
                            <div class="content-inner--no-image content-bg-white">   
                                <div class="content-header font-b font-orange">
                                    分類一
                                </div>                 
                                <div class="content-body">
                                    <div class="text-wrap text-center">
                                        <h3 class="card-title font-b">卡片標題</h3>
                                        <div class="card-subtitle font-b">卡片副標題</div>
                                        <p class="font-m font-orange">
                                            內文內文內文內文<br/>
                                            內文內文內文內文內文
                                        </p>
                                        <p class="font-m">
                                            內文內文內文內文<br/>
                                            內文內文內文內文內文
                                        </p>
                                    </div>
                                    <div class="btn-wrap">
                                        <a href="#" class="button button-orange-cover button-booking-size">Button</a>
                                    </div>
                                </div>
                            </div>

                            <div class="content-inner--no-image content-bg-white">
                                <div class="content-header font-b font-orange">
                                    分類二
                                </div>
                                <div class="content-body">
                                    <div class="text-wrap text-center">
                                        <h3 class="card-title font-b">卡片標題</h3>
                                        <div class="card-subtitle font-b">卡片副標題</div>
                                        <p class="font-m font-orange">
                                            內文內文內文內文<br/>
                                            內文內文內文內文內文
                                        </p>
                                        <p class="font-m">
                                            內文內文內文內文<br/>
                                            內文內文內文內文內文
                                        </p>
                                    </div>
                                    <div class="btn-wrap">
                                        <a href="#" class="button button-orange-cover button-booking-size">Button</a>
                                    </div>
                                </div>
                            </div>

                            <div class="content-inner--no-image content-bg-orange">
                                <div class="content-header font-b font-orange">
                                    分類三
                                </div>
                                <div class="content-body">
                                    <div class="text-wrap text-center">
                                        <h3 class="card-title font-b">卡片標題</h3>
                                        <div class="card-subtitle font-b">卡片副標題</div>
                                        <p class="font-m font-orange">
                                            內文內文內文內文<br/>
                                            內文內文內文內文內文
                                        </p>
                                        <p class="font-m">
                                            內文內文內文內文<br/>
                                            內文內文內文內文<br/>
                                            內文內文內文內文內文
                                        </p>
                                    </div>
                                    <div class="btn-wrap">
                                        <a href="#" class="button button-normal button-booking-size">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="btns-wrap">
                            <a href="#" class="button button-orange button-booking-size">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Plugins -->
    <script src="../js/plugins/jquery-3.5.1.min.js"></script>
    <script src="../js/plugins/popper.min.js"></script>
    <script src="../js/plugins/bootstrap.min.js"></script>
</body>
</html>