<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Metadata -->
    <meta name="keywords" content="find drop shipping products">
    <meta name="description" content="Wholesale furniture dropshipping suppliers for your ecommerce business. Get real time inventory & high margins from direct supplier relationships. Browse now!">
    <meta name="format-detection" content="telephone=no, email=no, address=no">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Furniture Dropshipping Suppliers Catalog | AndMakers"/>
    <meta property="og:site_name" content="Furniture Dropshipping Suppliers Catalog | AndMakers"/>
    <meta property="og:description" content="Wholesale furniture dropshipping suppliers for your ecommerce business. Get real time inventory & high margins from direct supplier relationships. Browse now!"/>
    <meta property="og:url" content="https://andmakers.co/"/>
    <meta property="og:image" content="https://andmakers.co/images/opengraph.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="315"/>

    <!-- Twitter Metadata -->
    <meta name="twitter:title" content="Furniture Dropshipping Suppliers Catalog | AndMakers">
    <meta name="twitter:description" content="Wholesale furniture dropshipping suppliers for your ecommerce business. Get real time inventory & high margins from direct supplier relationships. Browse now!">
    <meta name="twitter:image" content="https://andmakers.co/images/opengraph.png">
    <meta name="twitter:card" content="summary_large_image">

    <title>Furniture Dropshipping Suppliers Catalog | AndMakers</title>

    <!-- Style -->
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/plugins/bootstrap-5.1.3/bootstrap.min.css"/>

    <!-- AOS -->
    <link rel="stylesheet" href="css/plugins/aos-2.0.0/aos.css">

    <!-- Iconfont -->
    <link rel="stylesheet" href="css/plugins/icomoon/style.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/catalog.css">
</head>
<body>

    <!-- navigation -->
    <nav id="nav" class="nav-wrap">
        <!-- navigation - pc -->
        <div id="js-pc-nav" class="nav-pc-wrap">
            <div class="nav-left-wrap">
                <div class="logo-wrap">
                    <a href="index.html" class="logo-h">
                        <img src="images/general/logo_andmakers_h.svg" alt="logo">
                    </a>
                    <a href="index.html" class="logo-v">
                        <img src="images/general/logo_andmakers_v.svg" alt="logo">
                    </a>
                </div>
                <ul class="menu-wrap">
                    <li class="menu-item"><a href="service.html">Services</a></li>
                    <li class="menu-item"><a href="javascript://">Catalog</a></li>
                    <li class="menu-item"><a href="index.html#retail">Retailers</a></li>
                    <li class="menu-item"><a href="about.html">About Us</a></li>
                    <li class="menu-item"><a href="faqs.html">FAQs</a></li>
                    <li class="menu-item"><a href="https://blog.andmakers.co/" target="_blank">Blog</a></li>
                </ul>
            </div>
            <div class="nav-right-wrap">
                <a href="https://dashboard.cenports.com/login" target="_blank" class="cta-btn size-small style-outline style-icon-left">Login</a>
                <a href="contact.html" class="cta-btn size-small style-primary">Contact Us</a>
            </div>
        </div>

        <!-- navigation - mobile -->
        <div id="js-mobile-nav" class="nav-mobile-wrap">
            <div class="nav-mobile-bar">
                <div class="nav-left-wrap">
                    <div id="js-mobile-ctr-btn" class="menu-btn"><span></span><span></span><span></span></div>
                    <div class="logo-wrap">
                        <a href="#" class="logo-h">
                            <img src="images/general/logo_andmakers_h.svg" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="nav-right-wrap">
                    <a href="contact.html" class="cta-btn size-small style-primary">Contact Us</a>
                </div>
            </div>
            <div id="js-mobile-menu" class="nav-mobile-content">
                <div class="nav-top-wrap">
                    <div class="supper-menu-wrap">
                        <ul class="menu-wrap">
                            <li class="menu-item"><a href="index.html">Home</a></li>
                            <li class="menu-item"><a href="service.html">Services</a></li>
                            <li class="menu-item"><a href="about.html">About Us</a></li>
                            <li class="menu-item"><a href="javascript://">Catalog</a></li>
                        </ul>
                    </div>
                    <div class="lower-menu-wrap">
                        <ul class="menu-wrap">
                            <li class="menu-item"><a href="faqs.html">FAQs</a></li>
                            <li class="menu-item"><a href="https://blog.andmakers.co/" target="_blank">Blog</a></li>
                            <li class="menu-item"><a href="https://dashboard.cenports.com/login" target="_blank">Login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav-bottom-wrap">
                    <a href="contact.html" class="cta-btn size-large style-secondary">Contact Us</a>
                </div>
            </div>
        </div>
    </nav>

    <main>

        <section class="section-wrap hero-section">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12 col-xl-6 col-xxl-6 order-2 order-xl-1 order-xxl-1 col-vertical-align">
                        <div class="hero-left-wrap">
                            <h1>Discover a World of <br>Best-Sellers</h1>
                            <ul class="hero-list">
                                <li class="hero-item">Exclusive partnerships with overseas suppliers in furniture</li>
                                <li class="hero-item">High margins from direct supplier relationships</li>
                                <li class="hero-item">Bay Area-based, 24hr. drop-shipping</li>
                                <li class="hero-item">Integrated EDI/API/XLS for real-time inventory</li>
                                <li class="hero-item">Dedicated team for retail partnerships</li>
                            </ul>
                            <a href="contact.html" class="cta-btn size-large style-primary">Request Catalog</a>
                        </div>
                    </div>
                    <div class="col-12 col-xl-5 col-xxl-5 order-1 order-xl-2 order-xxl-2">
                        <div class="hero-right-wrap">
                            <div class="image-wrap">
                                <img src="images/catalog/img_catalog_hero.png" alt="hero">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="catalog" class="section-wrap categories-section">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12 col-xl-12 col-xxl-12">
                        <div class="categories-title-wrap">
                            <div class="section-heading-wrap">
                                <h2 class="section-title">Product Categories</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-12 col-xxl-12">
                        <div class="categories-content-wrap js-tab-mobile-sticky-effect">
                            <!-- Product Filiter: Navs -->
                            <ul class="nav nav-tabs categories-tab-nav-wrap" id="categoriesTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="furniture-tab" data-bs-toggle="tab" data-bs-target="#furniture" type="button" role="tab" aria-controls="furniture" aria-selected="true">Furniture</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="home-decor-tab" data-bs-toggle="tab" data-bs-target="#home-decor" type="button" role="tab" aria-controls="home-decor" aria-selected="false">Home Decor</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="outdoor-tab" data-bs-toggle="tab" data-bs-target="#outdoor" type="button" role="tab" aria-controls="outdoor" aria-selected="false">Outdoor</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="and-more-tab" data-bs-toggle="tab" data-bs-target="#and-more" type="button" role="tab" aria-controls="and-more" aria-selected="false">And More</button>
                                </li>
                            </ul>

                            <!-- Product Filiter: Tabs -->
                            <div class="tab-content categories-tab-content-wrap" id="categoriesTabContent">
                                <template v-for="(catalog, index) in catalogs">
                                    <div v-bind:class="['tab-pane', 'fade', index ? '' : 'show active']" 
                                        v-bind:id="catalog.id" role="tabpanel" 
                                        v-bind:aria-labelledby="catalog.id + '-tab'">
                                        <div v-bind:class="['grid-card-wrap', catalog.id + '-card-wrap']">
                                            <template v-for="(product, index2) in catalog.products">
                                                <!-- Popup - Product Specification: trigger Button -->
                                                <div v-bind:class="['catalog-card-wrap', 'style-' + product.background_css_style, product.thumbnail_shape]" 
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#productModal"
                                                    v-on:click="switchData(index, index2)">
                                                    <div class="catalog-image-wrap">
                                                        <img v-bind:src="'images/' + product.image_path + product.thumbnail" v-bind:alt="product.brand">
                                                    </div>
                                                    <div class="catalog-name-wrap">{{ product.brand }}</div>
                                                    <div class="catalog-more-btn">
                                                        <i class="icon-more"></i>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Popup - Product Specification -->
            <div class="modal fade product-modal-wrap mobile-bottom-sheet-effect" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="productModalLabel">{{ catalogs[current_category_id].products[current_product_id].brand }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="image-slide-wrap">
                                <!-- product images -->
                                <div id="carouselProductIndicators" class="carousel slide carousel-fade carousel-product" data-bs-ride="carousel" data-bs-interval="false">
                                    <!-- content -->
                                    <div class="carousel-inner">
                                        <template v-for="(lifestyle, index) in catalogs[current_category_id].products[current_product_id].lifestyles">
                                            <div v-bind:class="['carousel-item', index ? '' : 'active']"
                                                v-bind:key="current_category_id + '-' + current_product_id">
                                                <img v-bind:src="'images/' + catalogs[current_category_id].products[current_product_id].image_path + lifestyle" 
                                                    v-bind:alt="catalogs[current_category_id].products[current_product_id].sku">
                                            </div>
                                        </template>
                                    </div>
                                    
                                    <!-- prev & next -->
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProductIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProductIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    </button>
                                    
                                    <!-- dots -->
                                    <div class="carousel-indicators">
                                        <template v-for="(lifestyle, index) in catalogs[current_category_id].products[current_product_id].lifestyles">
                                            <button type="button" data-bs-target="#carouselProductIndicators" 
                                                v-bind:data-bs-slide-to="index" 
                                                v-bind:class="index ? '' : 'active'" 
                                                v-bind:aria-current="index ? '' : 'true'" 
                                                v-bind:aria-label="'Slide ' + (index + 1)"
                                                v-bind:key="current_category_id + '-' + current_product_id"></button>
                                        </template>
                                    </div>
                                </div>
                            </div>
                            <div class="info-wrap">
                                <!-- product detail -->
                                <div class="product-wrap">
                                    <div class="product-upper-wrap">
                                        <div class="product-category">{{ catalogs[current_category_id].category }}</div>
                                        <div class="product-des">
                                            {{ catalogs[current_category_id].products[current_product_id].product_name }}
                                        </div>
                                    </div>
                                    <div class="product-lower-wrap">
                                        <div class="product-specification-title">Specifications</div>
                                        <table class="product-specification-table">
                                            <tr>
                                                <th>Brand</th>
                                                <td>{{ catalogs[current_category_id].products[current_product_id].brand }}</td>
                                            </tr>
                                            <tr>
                                                <th>Color</th>
                                                <td>{{ catalogs[current_category_id].products[current_product_id].color }}</td>
                                            </tr>
                                            <tr>
                                                <th>SKU</th>
                                                <td>{{ catalogs[current_category_id].products[current_product_id].sku }}</td>
                                            </tr>
                                            <tr>
                                                <th>Dimensions</th>
                                                <td>{{ catalogs[current_category_id].products[current_product_id].dimensions }}</td>
                                            </tr>
                                            <tr>
                                                <th>MAP</th>
                                                <td>{{ catalogs[current_category_id].products[current_product_id].map }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="fixed-btn">
                                <a href="contact.html" class="link style-icon">Request the Full Catalog</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="review" class="section-wrap review-section js-tab-mobile-sticky-effect-end-targrt">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12 col-xl-3 col-xxl-3">
                        <div class="review-title-wrap">
                            <h2 class="pc-style">High-Quality, <br>Top-Selling <br>Products</h2>
                            <h2 class="mobile-style">High-Quality, Top-<br>Selling Products</h2>
                        </div>
                    </div>
                    <div class="col-12 col-xl-9 col-xxl-9">
                        <div class="review-content-wrap">
                            <div class="review-card-outter-wrap">
                                <template v-for="(product, index) in reviews">
                                    <!-- Popup - Customer Review: trigger Button -->
                                    <div class="review-card-wrap" data-bs-toggle="modal" data-bs-target="#reviewModal" v-on:click="switchData(index)">
                                        <div class="review-image-wrap">
                                            <img v-bind:src="'images/' + product.image_path + product.thumbnail" 
                                                v-bind:alt="product.brand_name">
                                        </div>
                                        <div class="review-name-wrap">{{ product.brand_name }}</div>
                                        <div class="review-stars-wrap">
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                        </div>
                                        <div class="review-card-link">See More Reviews</div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Popup - Customer Review -->
            <div class="modal fade review-modal-wrap mobile-bottom-sheet-effect" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reviewModalLabel">{{ reviews[current_review_id].brand_name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="image-wrap">
                                <img v-bind:src="'images/' + reviews[current_review_id].image_path + reviews[current_review_id].lifestyle" 
                                    v-bind:alt="reviews[current_review_id].brand_name">
                            </div>
                            <div class="info-wrap">
                                <ul class="review-list">
                                    <template v-for="(review, index) in reviews[current_review_id].reviews">
                                        <li class="review-item" v-bind:key="index">
                                            <div class="review-item-upper-wrap">
                                                <div class="review-stars-wrap">
                                                    <i class="icon-star"></i>
                                                    <i class="icon-star"></i>
                                                    <i class="icon-star"></i>
                                                    <i class="icon-star"></i>
                                                    <i class="icon-star"></i>
                                                </div>
                                                <div class="review-author-wrap">{{ review.author }}</div>
                                            </div>
                                            <div class="review-lower-wrap">
                                                <div class="review-comment-wrap">{{ review.comment }}</div>
                                            </div>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta-section">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12 offset-xl-1 offset-xxl-1 col-xl-6 col-xxl-6">
                        <div class="cta-title-wrap">
                            <h2 class="cta-title pc-style">Are You Retailer and Looking <br>For Quality Products?</h2>
                            <h2 class="cta-title mobile-style">Are You Retailer and <br>Looking For Quality <br>Products?</h2>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4 col-xxl-4">
                        <div class="cta-btn-wrap">
                            <a href="contact.html" class="cta-btn size-large style-secondary">Request the Full Catalog</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- footer -->
    <footer class="footer-wrap">
        <div class="footer-top-wrap">
            <div class="logo-wrap">
                <a href="index.html" class="logo-h">
                    <img src="images/general/logo_andmakers_h.svg" alt="logo">
                </a>
            </div>
            <div class="link-wrap">
                <div class="link-item">
                    <div class="menu-title">Company</div>
                    <ul class="menu-wrap">
                        <li class="menu-item"><a href="index.html">Home</a></li>
                        <li class="menu-item"><a href="service.html">Services</a></li>
                        <li class="menu-item"><a href="javascript://">Catalog</a></li>
                        <li class="menu-item"><a href="about.html">About Us</a></li>
                        <li class="menu-item"><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="link-item">
                    <div class="menu-title">Resources</div>
                    <ul class="menu-wrap">
                        <li class="menu-item"><a href="faqs.html">FAQs</a></li>
                        <li class="menu-item"><a href="https://blog.andmakers.co/" target="_blank">Blog</a></li>
                        <li class="menu-item"><a href="https://dashboard.cenports.com/login" target="_blank">Login</a></li>
                    </ul>
                </div>
                <div class="link-item">
                    <div class="menu-title">Find Us</div>
                    <ul class="menu-wrap">
                        <li class="menu-item">1742 Sabre Street Hayward CA94545</li>
                        <li class="menu-item"><a href="tel:+1-888-970-3966">+1 888-970-3966</a></li>
                        <li class="menu-item"><a href="mailto:hello@andmakers.co">hello@andmakers.co</a></li>
                        <li class="menu-item">
                            <a href="https://www.facebook.com/andmakers.co" target="_blank" class="social-wrap">
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/andmakersco/" target="_blank" class="social-wrap">
                                <i class="icon-instagram"></i>
                            </a>
                            <a href="https://www.youtube.com/channel/UCBA9U4QQjVfLepKqG-YeIew" target="_blank" class="social-wrap">
                                <i class="icon-youtube"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/andmakers" target="_blank" class="social-wrap">
                                <i class="icon-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom-wrap">
            <div class="copyright">
                <span>© 2022 AndMakers.co.</span><span><a href="terms.html">Terms of Service & Policies</a></span>
            </div>
        </div>
    </footer>


    <!-- Plugins -->
    <script src="js/plugins/jquery-3.3.1.min.js"></script>
    <script src="js/plugins/bootstrap-5.1.3/bootstrap.min.js"></script>

    <!-- AOS -->
    <script src="js/plugins/aos-2.0.0/aos.js"></script>

    <!-- Vue -->
    <script src="js/plugins/vue-2.6.12/vue.min.js"></script>

    <!-- Custom -->
    <script src="js/main.js"></script>
    <script src="js/catalog.js"></script>
</body>
</html>