<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Metadata -->
    <meta name="keywords" content="dropshipping faqs">
    <meta name="description" content="FAQ on ecommerce solutions for retailers & suppliers. We answer the questions that you may have about your online businesses.">
    <meta name="format-detection" content="telephone=no, email=no, address=no">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="eCommerce Solutions FAQs | AndMakers"/>
    <meta property="og:site_name" content="eCommerce Solutions FAQs | AndMakers"/>
    <meta property="og:description" content="FAQ on ecommerce solutions for retailers & suppliers. We answer the questions that you may have about your online businesses."/>
    <meta property="og:url" content="https://andmakers.co/"/>
    <meta property="og:image" content="https://andmakers.co/images/opengraph.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="315"/>

    <!-- Twitter Metadata -->
    <meta name="twitter:title" content="eCommerce Solutions FAQs | AndMakers">
    <meta name="twitter:description" content="FAQ on ecommerce solutions for retailers & suppliers. We answer the questions that you may have about your online businesses.">
    <meta name="twitter:image" content="https://andmakers.co/images/opengraph.png">
    <meta name="twitter:card" content="summary_large_image">

    <title>eCommerce Solutions FAQs | AndMakers</title>

    <!-- Style -->
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/plugins/bootstrap-5.1.3/bootstrap.min.css"/>

    <!-- AOS -->
    <link rel="stylesheet" href="css/plugins/aos-2.0.0/aos.css">

    <!-- Iconfont -->
    <link rel="stylesheet" href="css/plugins/icomoon/style.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/faq.css">
</head>
<body>

    <!-- navigation -->
    <nav id="nav" class="nav-wrap">
        <!-- navigation - pc -->
        <div id="js-pc-nav" class="nav-pc-wrap">
            <div class="nav-left-wrap">
                <div class="logo-wrap">
                    <a href="index.html" class="logo-h">
                        <img src="images/general/logo_andmakers_h.svg" alt="logo">
                    </a>
                    <a href="index.html" class="logo-v">
                        <img src="images/general/logo_andmakers_v.svg" alt="logo">
                    </a>
                </div>
                <ul class="menu-wrap">
                    <li class="menu-item"><a href="service.html">Services</a></li>
                    <li class="menu-item"><a href="catalog.html">Catalog</a></li>
                    <li class="menu-item"><a href="index.html#retail">Retailers</a></li>
                    <li class="menu-item"><a href="about.html">About Us</a></li>
                    <li class="menu-item"><a href="javascript://">FAQs</a></li>
                    <li class="menu-item"><a href="https://blog.andmakers.co/" target="_blank">Blog</a></li>
                </ul>
            </div>
            <div class="nav-right-wrap">
                <a href="https://dashboard.cenports.com/login" target="_blank" class="cta-btn size-small style-outline style-icon-left">Login</a>
                <a href="contact.html" class="cta-btn size-small style-primary">Contact Us</a>
            </div>
        </div>

        <!-- navigation - mobile -->
        <div class="nav-mobile-wrap">
            <div class="nav-mobile-bar">
                <div class="nav-left-wrap">
                    <div id="js-mobile-ctr-btn" class="menu-btn"><span></span><span></span><span></span></div>
                    <div class="logo-wrap">
                        <a href="#" class="logo-h">
                            <img src="images/general/logo_andmakers_h.svg" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="nav-right-wrap">
                    <a href="contact.html" class="cta-btn size-small style-primary">Contact Us</a>
                </div>
            </div>
            <div id="js-mobile-menu" class="nav-mobile-content">
                <div class="nav-top-wrap">
                    <div class="supper-menu-wrap">
                        <ul class="menu-wrap">
                            <li class="menu-item"><a href="index.html">Home</a></li>
                            <li class="menu-item"><a href="service.html">Services</a></li>
                            <li class="menu-item"><a href="about.html">About Us</a></li>
                            <li class="menu-item"><a href="catalog.html">Catalog</a></li>
                        </ul>
                    </div>
                    <div class="lower-menu-wrap">
                        <ul class="menu-wrap">
                            <li class="menu-item"><a href="javascript://">FAQs</a></li>
                            <li class="menu-item"><a href="https://blog.andmakers.co/" target="_blank">Blog</a></li>
                            <li class="menu-item"><a href="https://dashboard.cenports.com/login" target="_blank">Login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav-bottom-wrap">
                    <a href="contact.html" class="cta-btn size-large style-secondary">Contact Us</a>
                </div>
            </div>
        </div>
    </nav>

    <main>

        <!-- FAQ -->
        <section id="faq" class="section-wrap faq-section">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12 col-xl-12 col-xxl-12">
                        <div class="faq-title-wrap">
                            <h1 class="faq-title">Have question?</h1>
                            <p class="font-medium line-higher faq-des">You might be able to find the answers here.</p>
                        </div>
                    </div>
                </div>

                <!-- FAQ: PC -->
                <div class="row">
                    <div class="col-12 col-xl-3 col-xxl-3 d-none d-xl-block d-xxl-block">
                        <div class="faq-pc-left-wrap">
                            <!-- PC FAQ Filter: Navs -->
                            <div id="js-faq-tab-nav" class="faq-tab-nav-outter-wrap">
                                <div class="faq-tab-nav-upper-wrap">
                                    <h4 class="faq-tab-title">Suppliers</h4>
                                    <ul class="nav nav-tabs faq-tab-nav-wrap" id="faqSuppliersTab" role="tablist">
                                        <li class="nav-item active" role="presentation">
                                            <button class="nav-link active" id="supplier-general-tab" data-bs-toggle="tab" data-bs-target="#supplier-general" type="button" role="tab" aria-controls="supplier-general" aria-selected="true">Supplier General</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="supplier-retail-channels-tab" data-bs-toggle="tab" data-bs-target="#supplier-retail-channels" type="button" role="tab" aria-controls="supplier-retail-channels" aria-selected="false">Retail Channels</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="supplier-pricing-tab" data-bs-toggle="tab" data-bs-target="#supplier-pricing" type="button" role="tab" aria-controls="supplier-pricing" aria-selected="false">Pricing</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="supplier-fulfillment-tab" data-bs-toggle="tab" data-bs-target="#supplier-fulfillment" type="button" role="tab" aria-controls="supplier-fulfillment" aria-selected="false">Fulfillment</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="faq-tab-nav-lower-wrap">
                                    <h4 class="faq-tab-title">Retailers</h4>
                                    <ul class="nav nav-tabs faq-tab-nav-wrap" id="faqRetailersTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="retailer-general-tab" data-bs-toggle="tab" data-bs-target="#retailer-general" type="button" role="tab" aria-controls="retailer-general" aria-selected="true">Retailer General</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="retailer-pricing-tab" data-bs-toggle="tab" data-bs-target="#retailer-pricing" type="button" role="tab" aria-controls="retailer-pricing" aria-selected="false">Pricing</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="retailer-fulfillment-tab" data-bs-toggle="tab" data-bs-target="#retailer-fulfillment" type="button" role="tab" aria-controls="retailer-fulfillment" aria-selected="false">Fulfillment</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-12 col-xl-9 col-xxl-9 d-none d-xl-block d-xxl-block">
                        <div class="faq-pc-right-wrap">
                            <!-- PC FAQ Filter: Tabs -->
                            <div id="js-faq-tab-content" class="faq-tab-content-outter-wrap">
                                <div class="tab-content faq-tab-content-wrap show" id="faqSuppliersTabContent">
                                    <!-- PC Suppliers -->
                                    <template v-for="(items, index) in faqs[0].catagories">
                                        <div v-bind:class="['tab-pane fade' ,index ? '' : 'show active']" 
                                            v-bind:id="items.id" role="tabpanel" 
                                            v-bind:aria-labelledby="items.id + '-tab'">
                                            <h4 class="faq-tab-title">{{ items.catagory }}</h4>
                                            <div class="accordion accordion-categories-sub-wrap js-accordion-shadow-effect" 
                                                v-bind:id="'accordionfaq' + items.id +'-pc'">
                                                <template v-for="(faq, index2) in items.faqs">
                                                    <div v-bind:class="['accordion-item' ,index2 ? '' : 'active']">
                                                        <h2 class="accordion-header" 
                                                            v-bind:id="'faqHeading' + items.id + index2">
                                                            <button type="button" 
                                                                v-bind:class="['accordion-button', index2 ? 'collapsed' : '']" 
                                                                data-bs-toggle="collapse" 
                                                                v-bind:data-bs-target="'#faqCollapse' + items.id +'-pc' + index2" 
                                                                v-bind:aria-expanded="[index2 ? 'false' : 'true']" 
                                                                v-bind:aria-controls="'faqCollapse' + items.id + index2">
                                                                    {{ faq.question }}
                                                            </button>
                                                        </h2>
                                                        <div v-bind:id="'faqCollapse' + items.id +'-pc' + index2" 
                                                            v-bind:class="['accordion-collapse', 'collapse', index2 ? '' : 'show']" 
                                                            v-bind:aria-labelledby="'faqHeading' + items.id +'-pc' + index2" 
                                                            v-bind:data-bs-parent="'#accordionfaq' + items.id +'-pc'">
                                                            <div class="accordion-body" v-html="faq.answer_html"></div>
                                                        </div>
                                                    </div>
                                                </template>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                                <div class="tab-content faq-tab-content-wrap" id="faqRetailersTabContent">
                                    <!-- PC Retailers -->
                                    <template v-for="(items, index) in faqs[1].catagories">
                                        <div v-bind:class="['tab-pane fade' ,index ? '' : 'show active']" 
                                            v-bind:id="items.id" role="tabpanel" 
                                            v-bind:aria-labelledby="items.id + '-tab'">
                                            <h4 class="faq-tab-title">{{ items.catagory }}</h4>
                                            <div class="accordion accordion-categories-sub-wrap js-accordion-shadow-effect" 
                                                v-bind:id="'accordionfaq' + items.id +'-pc'">
                                                <template v-for="(faq, index2) in items.faqs">
                                                    <div v-bind:class="['accordion-item' ,index2 ? '' : 'active']">
                                                        <h2 class="accordion-header" 
                                                            v-bind:id="'faqHeading' + items.id +'-pc' + index2">
                                                            <button type="button" 
                                                                v-bind:class="['accordion-button', index2 ? 'collapsed' : '']" 
                                                                data-bs-toggle="collapse" 
                                                                v-bind:data-bs-target="'#faqCollapse' + items.id +'-pc' + index2" 
                                                                v-bind:aria-expanded="[index2 ? 'false' : 'true']" 
                                                                v-bind:aria-controls="'faqCollapse' + items.id +'-pc' + index2">
                                                                    {{ faq.question }}
                                                            </button>
                                                        </h2>
                                                        <div v-bind:id="'faqCollapse' + items.id +'-pc' + index2" 
                                                            v-bind:class="['accordion-collapse', 'collapse', index2 ? '' : 'show']" 
                                                            v-bind:aria-labelledby="'faqHeading' + items.id +'-pc' + index2" 
                                                            v-bind:data-bs-parent="'#accordionfaq' + items.id +'-pc'">
                                                            <div class="accordion-body" v-html="faq.answer_html"></div>
                                                        </div>
                                                    </div>
                                                </template>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FAQ: mobile -->
                <div class="row">
                    <div class="col-12 col-xl-12 col-xxl-12 d-block d-xl-none d-xxl-none">
                        <div class="faq-mobile-wrap">
                            <div class="faq-mobile-upper-wrap">
                                <!-- mobile Suppliers -->
                                <h3 class="faq-mobile-title">Supplier</h3>
                                <div class="accordion accordion-categories-wrap" 
                                    v-bind:id="'accordionfaq' + faqs[0].role +'-mobile'">
                                    <template v-for="(items, index) in faqs[0].catagories">
                                        <div v-bind:class="['accordion-item' ,index ? '' : 'active']">
                                            <h2 class="accordion-header" 
                                                v-bind:id="'faqHeading' + faqs[0].role + items.id +'-mobile' + index">
                                                <button type="button" 
                                                        v-bind:class="['accordion-button', index ? 'collapsed' : '']" 
                                                        data-bs-toggle="collapse" 
                                                        v-bind:data-bs-target="'#faqCollapse' + faqs[0].role + items.id +'-mobile' + index" 
                                                        v-bind:aria-expanded="[index ? 'false' : 'true']" 
                                                        v-bind:aria-controls="'faqCollapse' + faqs[0].role + items.id +'-mobile' + index">
                                                    {{ items.catagory }}
                                                </button>
                                            </h2>
                                            <div v-bind:id="'faqCollapse' + faqs[0].role + items.id +'-mobile' + index" 
                                                v-bind:class="['accordion-collapse', 'collapse', index ? '' : 'show']" 
                                                v-bind:aria-labelledby="'faqHeading' + faqs[0].role + items.id +'-mobile' + index" 
                                                v-bind:data-bs-parent="'#accordionfaq' + faqs[0].role +'-mobile'">
                                                <div class="accordion-body">
                                                    <!-- Sub items Accordion 1 -->
                                                    <div class="accordion accordion-categories-sub-wrap js-accordion-shadow-effect" 
                                                        v-bind:id="'accordionfaq' + items.id +'-mobile'">
                                                        <template v-for="(faq, index2) in items.faqs">
                                                            <div v-bind:class="['accordion-item' ,index2 ? '' : 'active']">
                                                                <h2 class="accordion-header" 
                                                                    v-bind:id="'faqHeading' + items.id +'-mobile' + index2">
                                                                    <button type="button" 
                                                                        v-bind:class="['accordion-button', index2 ? 'collapsed' : '']" 
                                                                        data-bs-toggle="collapse" 
                                                                        v-bind:data-bs-target="'#faqCollapse' + items.id +'-mobile' + index2" 
                                                                        v-bind:aria-expanded="[index2 ? 'false' : 'true']" 
                                                                        v-bind:aria-controls="'faqCollapse' + items.id +'-mobile' + index2">
                                                                            {{ faq.question }}
                                                                    </button>
                                                                </h2>
                                                                <div v-bind:id="'faqCollapse' + items.id +'-mobile' + index2" 
                                                                    v-bind:class="['accordion-collapse', 'collapse', index2 ? '' : 'show']" 
                                                                    v-bind:aria-labelledby="'faqHeading' + items.id +'-mobile' + index2" 
                                                                    v-bind:data-bs-parent="'#accordionfaq' + items.id +'-mobile'">
                                                                    <div class="accordion-body" v-html="faq.answer_html"></div>
                                                                </div>
                                                            </div>
                                                        </template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <div class="faq-mobile-lower-wrap">
                                <!-- mobile Retailers -->
                                <h3 class="faq-mobile-title">Retailers</h3>
                                <div class="accordion accordion-categories-wrap" 
                                v-bind:id="'accordionfaq' + faqs[1].role +'-mobile'">
                                    <template v-for="(items, index) in faqs[1].catagories">
                                        <div v-bind:class="['accordion-item' ,index ? '' : 'active']">
                                            <h2 class="accordion-header" 
                                                v-bind:id="'faqHeading' + faqs[1].role + items.id +'-mobile' + index">
                                                <button type="button" 
                                                        v-bind:class="['accordion-button', index ? 'collapsed' : '']" 
                                                        data-bs-toggle="collapse" 
                                                        v-bind:data-bs-target="'#faqCollapse' + faqs[1].role + items.id +'-mobile' + index" 
                                                        v-bind:aria-expanded="[index ? 'false' : 'true']" 
                                                        v-bind:aria-controls="'faqCollapse' + faqs[1].role + items.id +'-mobile' + index">
                                                    {{ items.catagory }}
                                                </button>
                                            </h2>
                                            <div v-bind:id="'faqCollapse' + faqs[1].role + items.id +'-mobile' + index" 
                                                v-bind:class="['accordion-collapse', 'collapse', index ? '' : 'show']" 
                                                v-bind:aria-labelledby="'faqHeading' + faqs[1].role + items.id +'-mobile' + index" 
                                                v-bind:data-bs-parent="'#accordionfaq' + faqs[1].role +'-mobile'">
                                                <div class="accordion-body">
                                                    <!-- Sub items Accordion 1 -->
                                                    <div class="accordion accordion-categories-sub-wrap js-accordion-shadow-effect" 
                                                        v-bind:id="'accordionfaq' + items.id +'-mobile'">
                                                        <template v-for="(faq, index2) in items.faqs">
                                                            <div v-bind:class="['accordion-item' ,index2 ? '' : 'active']">
                                                                <h2 class="accordion-header" 
                                                                    v-bind:id="'faqHeading' + items.id +'-mobile' + index2">
                                                                    <button type="button" 
                                                                        v-bind:class="['accordion-button', index2 ? 'collapsed' : '']" 
                                                                        data-bs-toggle="collapse" 
                                                                        v-bind:data-bs-target="'#faqCollapse' + items.id +'-mobile' + index2" 
                                                                        v-bind:aria-expanded="[index2 ? 'false' : 'true']" 
                                                                        v-bind:aria-controls="'faqCollapse' + items.id +'-mobile' + index2">
                                                                            {{ faq.question }}
                                                                    </button>
                                                                </h2>
                                                                <div v-bind:id="'faqCollapse' + items.id +'-mobile' + index2" 
                                                                    v-bind:class="['accordion-collapse', 'collapse', index2 ? '' : 'show']" 
                                                                    v-bind:aria-labelledby="'faqHeading' + items.id +'-mobile' + index2" 
                                                                    v-bind:data-bs-parent="'#accordionfaq' + items.id +'-mobile'">
                                                                    <div class="accordion-body" v-html="faq.answer_html"></div>
                                                                </div>
                                                            </div>
                                                        </template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- CTA -->
        <section class="cta-section">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12 offset-xl-1 offset-xxl-1 col-xl-5 col-xxl-5">
                        <div class="cta-title-wrap">
                            <h2 class="cta-title pc-style">Can’t find the answers to <br>your questions?</h2>
                            <h2 class="cta-title mobile-style">Can’t find the answers to your questions?</h2>
                            <p class="font-medium line-higher cta-desc">Reach out to us today!</p>
                        </div>
                    </div>
                    <div class="col-12 col-xl-5 col-xxl-5">
                        <div class="cta-btn-wrap">
                            <a href="contact.html" class="cta-btn size-large style-secondary">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </main>

    <!-- footer -->
    <footer class="footer-wrap">
        <div class="footer-top-wrap">
            <div class="logo-wrap">
                <a href="index.html" class="logo-h">
                    <img src="images/general/logo_andmakers_h.svg" alt="logo">
                </a>
            </div>
            <div class="link-wrap">
                <div class="link-item">
                    <div class="menu-title">Company</div>
                    <ul class="menu-wrap">
                        <li class="menu-item"><a href="index.html">Home</a></li>
                        <li class="menu-item"><a href="service.html">Services</a></li>
                        <li class="menu-item"><a href="catalog.html">Catalog</a></li>
                        <li class="menu-item"><a href="about.html">About Us</a></li>
                        <li class="menu-item"><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="link-item">
                    <div class="menu-title">Resources</div>
                    <ul class="menu-wrap">
                        <li class="menu-item"><a href="javascript://">FAQs</a></li>
                        <li class="menu-item"><a href="https://blog.andmakers.co/" target="_blank">Blog</a></li>
                        <li class="menu-item"><a href="https://dashboard.cenports.com/login" target="_blank">Login</a></li>
                    </ul>
                </div>
                <div class="link-item">
                    <div class="menu-title">Find Us</div>
                    <ul class="menu-wrap">
                        <li class="menu-item">1742 Sabre Street Hayward CA94545</li>
                        <li class="menu-item"><a href="tel:+1-888-970-3966">+1 888-970-3966</a></li>
                        <li class="menu-item"><a href="mailto:hello@andmakers.co">hello@andmakers.co</a></li>
                        <li class="menu-item">
                            <a href="https://www.facebook.com/andmakers.co" target="_blank" class="social-wrap">
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/andmakersco/" target="_blank" class="social-wrap">
                                <i class="icon-instagram"></i>
                            </a>
                            <a href="https://www.youtube.com/channel/UCBA9U4QQjVfLepKqG-YeIew" target="_blank" class="social-wrap">
                                <i class="icon-youtube"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/andmakers" target="_blank" class="social-wrap">
                                <i class="icon-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom-wrap">
            <div class="copyright">
                <span>© 2022 AndMakers.co.</span><span><a href="terms.html">Terms of Service & Policies</a></span>
            </div>
        </div>
    </footer>


    <!-- Plugins -->
    <script src="js/plugins/jquery-3.3.1.min.js"></script>
    <script src="js/plugins/bootstrap-5.1.3/bootstrap.min.js"></script>

    <!-- AOS -->
    <script src="js/plugins/aos-2.0.0/aos.js"></script>

    <!-- Vue -->
    <script src="js/plugins/vue-2.6.12/vue.min.js"></script>

    <!-- Custom -->
    <script src="js/main.js"></script>
    <script src="js/faq.js"></script>
</body>
</html>