@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@media screen and (max-width: 575.98px) {
  .container {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 576px;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

@media screen and (min-width: 767.98px) {
  .container {
    max-width: 768px;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

@media screen and (min-width: 991.98px) {
  .container {
    max-width: 992px;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

@media screen and (min-width: 1199.98px) {
  .container {
    max-width: 1200px;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

@media screen and (min-width: 1441px) {
  .container {
    max-width: 1640px;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

@media screen and (max-width: 575.98px) {
  .row {
    margin-right: -20px !important;
    margin-left: -20px !important;
  }
}

@media screen and (min-width: 576px) {
  .row {
    margin-right: -20px !important;
    margin-left: -20px !important;
  }
}

@media screen and (min-width: 767.98px) {
  .row {
    margin-right: -20px !important;
    margin-left: -20px !important;
  }
}

@media screen and (min-width: 991.98px) {
  .row {
    margin-right: -20px !important;
    margin-left: -20px !important;
  }
}

@media screen and (min-width: 1199.98px) {
  .row {
    margin-right: -20px !important;
    margin-left: -20px !important;
  }
}

@media screen and (min-width: 1441px) {
  .row {
    margin-right: -20px !important;
    margin-left: -20px !important;
  }
}

.col, .col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8, .col-9,
.col-10, .col-11, .col-12, .col-auto {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto,
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

#faqs .faqs-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 60px 0 18px;
  background-color: #F2F2F2;
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-header {
    padding: 70px 0 0;
  }
}

#faqs .faqs-header::after {
  content: '';
  width: 100%;
  height: 42px;
  position: absolute;
  bottom: -42px;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(rgba(242, 242, 242, 0)));
  background-image: linear-gradient(to bottom, #F2F2F2, rgba(242, 242, 242, 0));
}

#faqs .faqs-header .faqs-category-wrap {
  position: relative;
}

#faqs .faqs-header .title-wrap {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-header .title-wrap {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1200px) {
  #faqs .faqs-header .faqs-category {
    position: static;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-header .faqs-category {
    padding: 0;
    margin: 0;
    border-radius: 0 0 8px 8px;
    max-height: 194px;
    overflow-y: scroll;
  }
}

#faqs .faqs-header .faqs-category .nav-tabs {
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-header .faqs-category .nav-item {
    width: 100%;
    margin-bottom: 0;
  }
}

#faqs .faqs-header .faqs-category .nav-item + .nav-item {
  margin-left: 12px;
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-header .faqs-category .nav-item + .nav-item {
    margin-left: 0;
  }
}

#faqs .faqs-header .faqs-category .nav-link {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1440px) {
  #faqs .faqs-header .faqs-category .nav-link {
    font-size: 16px;
    padding: 10px 16px;
  }
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-header .faqs-category .nav-link {
    font-size: 18px;
    letter-spacing: 0.9px;
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    border-width: 1px 0 0 0;
    padding: 10px 16px;
  }
}

#faqs .faqs-header .faqs-category .nav-link.active {
  color: #fff;
  background-color: #FF561D;
  border: 1px solid transparent;
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-header .faqs-category .nav-link.active {
    color: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-width: 1px 0 0 0;
  }
}

#faqs .faqs-header .faqs-category .nav-link:hover {
  color: #fff;
  background-color: #ec4e18;
  border: 1px solid transparent;
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-header .faqs-category .nav-link:hover {
    border-width: 1px 0 0 0;
  }
}

#faqs .faqs-header .faqs-dropdown {
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.9px;
  line-height: 1.5;
  color: #fff;
  background-color: #FF561D;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px 16px;
  position: relative;
  display: none;
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-header .faqs-dropdown {
    display: block;
  }
}

#faqs .faqs-header .faqs-dropdown::after {
  content: '\e903';
  font-family: 'icomoon';
  font-size: 36px;
  line-height: 1;
  position: absolute;
  right: 3px;
  top: 3px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  margin: 0;
  vertical-align: 0;
}

#faqs .faqs-header .faqs-dropdown[aria-expanded="true"] {
  border-radius: 8px 8px 0 0;
}

#faqs .faqs-header .faqs-dropdown[aria-expanded="true"]::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#faqs .faqs-body {
  padding: 317px 0 90px;
}

@media screen and (max-width: 1440px) {
  #faqs .faqs-body {
    padding: 283px 0 90px;
  }
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-body {
    padding: 242px 0 90px;
  }
}

#faqs .faqs-body h3 {
  display: none;
}

#faqs .faqs-body #faqsTabContent .card,
#faqs .faqs-body #faqsTabContent .card-header,
#faqs .faqs-body #faqsTabContent button {
  background-color: transparent;
  border-radius: 0;
}

#faqs .faqs-body #faqsTabContent .card {
  border: none;
}

#faqs .faqs-body #faqsTabContent .card .card-header {
  padding: 0;
  margin: 0;
  border: none;
}

#faqs .faqs-body #faqsTabContent .card .card-header button:hover, #faqs .faqs-body #faqsTabContent .card .card-header button:focus {
  text-decoration: none;
}

#faqs .faqs-body #faqsTabContent .card .card-header button:focus, #faqs .faqs-body #faqsTabContent .card .card-header button:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#faqs .faqs-body #faqsTabContent .card .card-header button {
  padding: 6px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  border-bottom: 1px solid #CCC;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

@media screen and (max-width: 1440px) {
  #faqs .faqs-body #faqsTabContent .card .card-header button {
    font-size: 18px;
  }
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-body #faqsTabContent .card .card-header button {
    padding: 10px 60px 10px 29px;
    font-size: 18px;
    letter-spacing: 0.9px;
    text-indent: -29px;
  }
}

#faqs .faqs-body #faqsTabContent .card .card-header button i {
  font-size: 48px;
  vertical-align: middle;
}

@media screen and (max-width: 1440px) {
  #faqs .faqs-body #faqsTabContent .card .card-header button i {
    font-size: 36px;
  }
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-body #faqsTabContent .card .card-header button i {
    font-size: 24px;
  }
}

#faqs .faqs-body #faqsTabContent .card .card-header button i.icon-minigolf {
  margin-right: 6px;
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-body #faqsTabContent .card .card-header button i.icon-minigolf {
    margin-right: 5px;
  }
}

#faqs .faqs-body #faqsTabContent .card .card-header button:after {
  content: '\e903';
  font-family: 'icomoon';
  font-size: 48px;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 6px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-body #faqsTabContent .card .card-header button:after {
    font-size: 42px;
    top: 3px;
    text-indent: 0;
  }
}

#faqs .faqs-body #faqsTabContent .card .card-header button:not(.collapsed) {
  color: #FF561D;
  border-bottom: 1px solid #FF561D;
}

#faqs .faqs-body #faqsTabContent .card .card-header button:not(.collapsed) i.icon-minigolf {
  color: #FF561D;
}

#faqs .faqs-body #faqsTabContent .card .card-header button:not(.collapsed):after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#faqs .faqs-body #faqsTabContent .card .card-body {
  padding: 30px 72px 30px 60px;
}

@media screen and (max-width: 1440px) {
  #faqs .faqs-body #faqsTabContent .card .card-body {
    padding: 24px 54px 24px 48px;
  }
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-body #faqsTabContent .card .card-body {
    padding: 12px 0;
  }
}

#faqs .faqs-body #faqsTabContent .card .card-body p + p {
  margin-top: 30px;
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-body #faqsTabContent .card .card-body p + p {
    margin-top: 18px;
  }
}

#faqs .faqs-spec-mobile-wrap {
  display: none;
  margin: 24px 0 12px;
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-spec-mobile-wrap {
    display: block;
  }
}

#faqs .faqs-spec-mobile-wrap .faqs-spec-tab .nav-tabs {
  border-bottom: 1px solid #FF561D;
}

#faqs .faqs-spec-mobile-wrap .faqs-spec-tab .nav-item {
  margin: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

#faqs .faqs-spec-mobile-wrap .faqs-spec-tab .nav-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #000;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 8px;
}

#faqs .faqs-spec-mobile-wrap .faqs-spec-tab .nav-link.active {
  color: #FF561D;
  border-bottom: 2px solid #FF561D;
}

#faqs .faqs-table {
  width: 100%;
  border: none;
  border-radius: 8px;
  margin: 30px 0;
  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  #faqs .faqs-table {
    margin: 18px 0;
  }
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-table {
    border-width: 1px;
    margin: 18px 0;
  }
}

#faqs .faqs-table.table-col-2 th,
#faqs .faqs-table.table-col-2 td {
  width: 66.66%;
}

#faqs .faqs-table.table-col-2 th:first-child,
#faqs .faqs-table.table-col-2 td:first-child {
  width: 33.33%;
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-table.table-col-3 {
    display: none;
  }
}

#faqs .faqs-table.table-col-3 tr th, #faqs .faqs-table.table-col-3 tr td {
  width: 33.33%;
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-table.table-col-4 {
    display: none;
  }
}

#faqs .faqs-table.table-col-4 tr th, #faqs .faqs-table.table-col-4 tr td {
  width: 25%;
}

#faqs .faqs-table tr {
  border-bottom: 1px solid #E1E1E1;
}

#faqs .faqs-table tr:last-child {
  border-bottom: 1px solid transparent;
}

#faqs .faqs-table tr th, #faqs .faqs-table tr td {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.9px;
  line-height: 1.5;
  padding: 10px 20px;
  background-color: #fff;
  border-left: 1px solid #E1E1E1;
}

@media screen and (max-width: 1440px) {
  #faqs .faqs-table tr th, #faqs .faqs-table tr td {
    font-size: 16px;
    padding: 8px 12px;
  }
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-table tr th, #faqs .faqs-table tr td {
    font-size: 14px;
    letter-spacing: 0.7px;
    padding: 8px 10px;
  }
}

#faqs .faqs-table tr th {
  border-bottom: 1px solid #FF561D;
}

#faqs .faqs-table tr th:first-child {
  color: #fff;
  background-color: #FF561D;
  border-right: 1px solid #E1E1E1;
  border-bottom: 1px solid #fff;
}

#faqs .faqs-table tr td:first-child {
  color: #fff;
  background-color: #FF561D;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 1199.98px) {
  #faqs .faqs-table tr td:first-child {
    border-width: 1px;
  }
}
/*# sourceMappingURL=faqs.css.map */