// Variable
@import 'variable';

// Override Bootstrap
@import 'mixin';


// Food & Drink
.bg-wallpaper {
    &::before {
        background-image: url(../images/fooddrink/bg_mainintro.jpg);
    }
}

#food-drink-intro {
    background-image: url(../images/fooddrink/bg_introbanner.jpg);

    .template-inner {
        @media screen and (max-width: 1199.98px) {
            padding: 128px 0 90px;
        }
    }
}

// Menu Iframe
#food-drink-menu {
    display: none;

    .pdf-wrap {
        width: 100%;

        iframe {
            width: 100%;
            border: solid 4px $color-pink;
        }

        &.pc-style {
            margin-top: 30px;

            iframe {
                min-height: 720px;
            }

            @media screen and (max-width: 1199.98px) {
                display: none;
            }
        }

        &.mobile-style {
            margin-top: 20px;
            display: none;

            iframe {
                min-height: 150vw;
            }

            @media screen and (max-width: 1199.98px) {
                display: block;
            }
        }
    }
}
