// fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

$font-sans: 'Poppins', 'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;

// Primary colors
$color-black: #000;
$color-white: #fff;
$color-orange: #FF561D;
$color-dark-orange: #ec4e18;
$color-booking-orange: #f2521c;
$color-gray: #E1E1E1;
$color-green: #004E36;
$color-dark-green: #033828;
$color-brown: #C4926C;
$color-yellow: #FFCD20;
$color-dark-yellow: #e7b300;
$color-blue: #3063A5;
$color-dark-blue:#164582;
$color-pink: #FF91C5;
$color-dark-pink: #ea67a5;
$color-red: #ff0000;

// Project colors
$color-bg-1: #F2F2F2;
$color-bg-2: #FAFAFA;
$color-border: #CCC;
$color-border-2: #707070;
$color-font-1: #9C9C9C;
$color-font-2: #5C5C5C;